/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';
.hand {
    cursor: pointer;
}
app-footer {
    margin-top: auto;
}


.btn-group.special {
    display: flex;
  }

  .special .btn {
    flex: 1
  }